[Desktop Entry]
Name=KBoard Launcher
Name[bs]=Pokretač KBoard
Name[de]=KBoard-Programmstarter
Name[es]=Lanzador de KBoard
Name[et]=KBoardi käivitaja
Name[fr]=Lanceur KBoard
Name[ga]=Tosaitheoir KBoard
Name[gl]=Iniciador de KBoard
Name[hu]=KBoard indítóikon
Name[mr]=के-बोर्ड प्रक्षेपक
Name[nl]=Programmastarter KBoard
Name[pl]=Aktywator KBoard
Name[pt]=Lançamento do KBoard
Name[pt_BR]=Lançador do KBoard
Name[sk]=Spúšťač KBoard
Name[sv]=Startprogram för Kboard
Name[tr]=KBoard Çalıştırıcı
Name[uk]=Засіб запуску KBoard
Name[x-test]=xxKBoard Launcherxx
GenericName=Start KWhiteboard/KBlackboard
GenericName[bs]=Pokreni KWhiteboard/KBlackboard
GenericName[cs]=Spustit KWhiteboard/KBlackboard
GenericName[de]=Startet KWhiteboard/KBlackboard
GenericName[es]=Iniciar KWhiteBoard/KBlackboard
GenericName[et]=KWhiteboardi/KBlackboardi käivitamine
GenericName[fr]=Démarrage de KWhiteboard / KBlackboard
GenericName[ga]=Tosaigh KWhiteboard/KBlackboard
GenericName[gl]=Iniciar KWhiteboard/KBlackboard
GenericName[hu]=KWhiteboard/KBlackboard indítása
GenericName[nl]=Start KWhiteboard/KBlackboard
GenericName[pl]=Uruchom KWhiteboard/KBlackboard
GenericName[pt]=Iniciar o KWhiteboard/KBlackboard
GenericName[pt_BR]=Iniciar o KWhiteboard/KBlackboard
GenericName[sk]=Spustiť KWhiteboard/KBlackboard
GenericName[sv]=Starta Kwhiteboard/Kblackboard
GenericName[tr]=KWhiteboard/KBlackboard Başlat
GenericName[uk]=Запуск KWhiteboard/KBlackboard
GenericName[x-test]=xxStart KWhiteboard/KBlackboardxx
Comment=Start KWhiteboard/KBlackboard demo applications with one of your IM contacts
Comment[bs]=Pokreni KWhiteboard/KBlackboard demo aplikacije s jednim od vaših IM kontakta
Comment[de]=Startet Demo-Programme KWhiteboard/KBlackboard mit einem Ihrer IM-Kontakte
Comment[es]=Iniciar las aplicaciones de demostración de KWhiteboard/KBlackboard con uno de sus contactos de MI
Comment[et]=KWhiteboardi/KBlackboardi demorakenduste käivitamine oma kiirsuhtluskontaktiga
Comment[fr]=Démarre les démonstrations des applications KWhiteboard / KBlackboard avec un de vos contacts de messagerie instantanée
Comment[hu]=KWhiteboard/KBlackboard demo alkalmazások indítása az azonnali üzenet partnerei egyikével
Comment[nl]=Start de demo-toepassing van KWhiteboard/KBlackboard met één van uw IM-contactpersonen
Comment[pl]=Uruchom programy demonstracyjne KWhiteboard/KBlackboard z jednym z Twoich kontaktów komunikatorów internetowych
Comment[pt]=Iniciar as aplicações de demonstração do KWhiteboard/KBlackboard com um dos seus contactos de IM
Comment[pt_BR]=Inicia os aplicativos de demonstração do KWhiteboard/KBlackboard com um dos seus contatos de MI
Comment[sk]=Spustiť KWhiteboard/KBlackboard demo aplikácie s jedným z vašich IM kontaktov
Comment[sv]=Starta Kwhiteboard/Kblackboard demonstrationsprogram med en av dina direktmeddelandekontakter
Comment[tr]=KWhiteboard/KBlackboard demo uygulamalarını IM kişilerinizden biriyle başlatın
Comment[uk]=Запустити демонстраційні програми KWhiteboard/KBlackboard з одним з ваших контактів обміну повідомленнями
Comment[x-test]=xxStart KWhiteboard/KBlackboard demo applications with one of your IM contactsxx
Exec=kboard-launcher %u
Type=Application
Terminal=false
Icon=telepathy-kde
Categories=Qt;KDE;Network;InstantMessaging;
X-DBUS-StartupType=Unique
