[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KTpApprover
Name=KBlackboard
Icon=applications-education
Comment=User %1 wants to start KBlackboard session with you

X-KTp-ChannelType=org.freedesktop.Telepathy.Channel.Type.StreamTube
X-KTp-Service=org.kde.KBlackboard
X-KTp-Cancellable=false
X-KTp-Preferred-Incoming-Handler=org.freedesktop.Telepathy.Client.KBlackBoard
X-KTp-Preferred-Outgoing-Handler=org.freedesktop.Telepathy.Client.KBlackBoard

