[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KTpApprover
Name=KBlackboard
Name[bs]=KBlackboard
Name[de]=KBlackboard
Name[es]=KBlackboard
Name[fr]=KBlackboard
Name[hu]=KBlackboard
Name[nl]=KBlackboard
Name[pl]=KBlackboard
Name[pt]=KBlackboard
Name[pt_BR]=KBlackboard
Name[sk]=KBlackboard
Name[sv]=Kblackboard
Name[tr]=KBlackboard
Name[uk]=KBlackboard
Name[x-test]=xxKBlackboardxx
Icon=applications-education
Comment=User %1 wants to start KBlackboard session with you
Comment[bs]=Korisnik %1 želi započeti KBlackboard sessiju s vama
Comment[de]=Der Benutzer %1 möchte eine KBlackboard-Sitzung  mit Ihnen starten
Comment[fr]=L'utilisateur %1 veut démarrer une session KBlackboard avec vous
Comment[hu]=%1 felhasználó szeretné elindítani a KBlackboard munkamenetet önnel
Comment[nl]=Gebruiker %1 wil een KBlackboard-sessie met u beginnen
Comment[pl]=Użytkownik %1 chce uruchomić z Tobą sesję KBlackboard
Comment[pt]=O utilizador %1 deseja iniciar uma sessão do KBlackboard consigo
Comment[pt_BR]=O usuário %1 quer iniciar uma sessão do KBlackboard com você
Comment[sk]=Používateľ %1 chce spustiť sedenie KBlackBoard s vami
Comment[sv]=Användare %1 vill starta en Kblackboard-session med dig
Comment[tr]=%1 kullanıcısı, sizinle bir KBlackboard oturumu başlatmak istiyor
Comment[uk]=Користувач %1 хоче розпочати з вами сеанс KBlackboard
Comment[x-test]=xxUser %1 wants to start KBlackboard session with youxx

X-KTp-ChannelType=org.freedesktop.Telepathy.Channel.Type.StreamTube
X-KTp-Service=org.kde.KBlackboard
X-KTp-Cancellable=false
X-KTp-Preferred-Incoming-Handler=org.freedesktop.Telepathy.Client.KBlackBoard
X-KTp-Preferred-Outgoing-Handler=org.freedesktop.Telepathy.Client.KBlackBoard

